@import '~bootstrap/scss/bootstrap';

:root {
  --background-color: rgb(190,165,165);
  --form-background-color: rgb(37, 77, 37);
  --line-color: black;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  border: 10px solid var(--line-color);
  background-color:var(--form-background-color);
  color:var(--background-color);
  height: 80vmin;
}
#sign-in, #sign-up, #change-password {
  display: flex;
  margin: auto;
  align-items: center;
}

.container1  {
  display: flex;
  margin: 10px;
}
.column2{
  flex: 2;
    border: 2px solid yellow;
}

.box {
  border: 5px solid var(--line-color);
  color:var(--background-color);
  background-color:var(--form-background-color);
  border: 10px solid var(--line-color);
  height: 180px;
  width: 180px;
  justify-content: center;
}
