@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
:root {
  --background-color: rgba(139, 201, 89, 0.678);
  --form-background-color: rgb(29, 20, 80);
  --line-color: black;
}
* {box-sizing:border-box;}
body {
  font-family: 'Bangers', cursive;
  background-color: var(--background-color);
}

input, button {
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  margin: 8px;
  cursor: pointer;
  box-shadow: 0 6px rgb(24, 21, 21);
}
input, button:active {
  transform: translateY(4px);
}

h1 {
  text-align: center;
  font-size: 100px;
  color:var(--form-background-color);
}
h4 {
  font-size: 50px;
  text-align: center;
}
h5 {
  color: white;
  font-size: 40px;
}
h6 {
  font-size: 20px;
}
.top-bar {
  display: flex;
  width: 100%
}
.top-bar h6:last-child {
  margin-left: auto;
}
.user-email {
  margin-right: 25px;
  margin-top: 25px;
}

.form {
  display: flex;
  margin: auto;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  border: 10px solid var(--line-color);
  background-color:var(--form-background-color);
  color:var(--background-color);
  height: 50%vmin;
  width: max-content;
}
/*style form fields*/
input {
  margin: 5px;
  width: 80%;
}


.top-buttons {
  text-align: center;
}
#animal-list {
  display: flex;
  flex-wrap: wrap;
}

.box {
  color:var(--background-color);
  background-color:var(--form-background-color);
  border: 10px solid var(--line-color);
  justify-content: center;
  flex: 0 0 33.33333%
}
/*modal css*/
.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
  width: 50%;
  height: 60%;
  left: 25%;
  z-index: +1;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}
@media screen and (max-width: 480px){
  .box{
    flex: 100%;
  }
  .user-email {
    font-size: 50;
    margin: auto;
  }

}
